* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #F1F1F1;
}

.container {
    max-width: 700px;
    width: 100%;
    height: 670px;
    max-height: 100%;
    background-color: #fff;
    text-align: center; 
}
.rigstration-header h2 {
    font-size: 28px;
    font-weight: 700;
    padding: 33px 0 52px 0;
}
.form {
    max-width: 496px;
    width: 100%;
    margin: 0 auto;
}
.form-control {
    /* margin: 0 auto; */
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: aquamarine; */
    margin-bottom: 32px;
}
.form-control input {
    width: 100%;
    border-radius: 8px;
    outline: none;
    border: 1px solid #ccc;
    padding: 13px 12px;
    font-weight: 500;
    font-size: 20px;
    color: #181818;
    position: relative;
}
.form-control input.error {
    border-color: #E74266;
}
.form-control input::placeholder {
    color: #AEAEAE;
}
.form-control input:active::placeholder {
    position: absolute;
    top: 2px;
    left: 12px;
}
.form-control i {
    position: absolute;
    top: 18px;
    right: 19px;
    color: #AEAEAE;
    cursor: pointer;
    transition: color .3s linear;
}
.form-control i.fa-eye:hover, i.fa-eye-slash:hover {
    color: black;
}
/* .form-control i.fa-eye:active, i.fa-eye-slash:active {
    color: #E74266;
} */
.form-control i.fa-eye.hidden {
    display: none;
}
.form-control i.fa-eye-slash.hidden {
    display: none;
}
.form-control i.fa-eye {
    color: #AEAEAE;
}
#errorMsg {
    color: #E74266;
    position: absolute;
    bottom: -22px;
}
#errorMsg.hidden {
    display: none;
}
.btn {
    background-color: #E74266;
    color: #fff;
    border-radius: 30px;
    padding: 16px;
    max-width: 496px;
    width: 100%;
    border: none;
    outline: none;
    cursor: pointer;
    font-weight: 400;
    font-size: 20px;
}

@media screen and (max-width: 480px) {
    
    .container {
        width: 100%;
        height: 100vh;
        padding: 0 5px;
    }
    #errorMsg {
        font-size: 12px;
    }
    .form {
        padding: 0 10px;
    }
    .btn {
        padding: 16px;
        width: 248px;
    }
}

/* 320px — 480px: Mobile devices
    481px — 768px: iPads, Tablets
    769px — 1024px: Small screens, laptops
    1025px — 1200px: Desktops, large screens
    1201px and more —  Extra large screens, TV */